{% extends "base.html"%}
    
{% block titulo %}  Fonluna  {% endblock %}
    
{% block contenido %} 

<br>
<div class="card-columns">
    <div class="card border-info mb-3">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Servicios</h4>
            <p class="card-text">Prestará los servicios de crédito en forma directa y únicamente a sus asociados con los requisitos y condiciones que establezcan los reglamentos que para el caso expida la JUNTA DIRECTIVA. </p>
        </div>
    </div>
    <div class="card border-info mb-3">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Asociados</h4>
            <p class="card-text">Para ser asociado del FONDO se requiere ser mayor de edad y se aceptarán menores que estén representados por su respectivo tutor, para realizar los aportes y cumplir con las obligaciones contraídas con el FONDO. </p>
        </div>
    </div>
    
</div>

<div class="card-columns">
    <div class="card border-info mb-3">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Políticas</h4>
            <p class="card-text">
                Los aportes y los abonos a préstamos deberán ser pagados entre el 15 y el 20 de cada mes.  De no ser así, se cobrará un interés por mora del dos punto cinco por ciento (2.5%) por mes o fracción de mes, sobre saldos en mora.  Además se le suspenderán todos los servicios hasta por un mes después de haberse puesto a paz y salvo.  
                </p>
        </div>
    </div>
    <div class="card border-info mb-3">
        <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
            <h4 class="card-title">Deberes Asociados</h4>
            <p class="card-text">Acatar y cumplir en todas sus partes lo dispuesto en estos estatutos y los reglamentos internos del FONDO.  </p>
        </div>
    </div>
    
</div>

{% endblock %}
