{% extends "base.html"%}

{% load static %}
    
{% block titulo %}  Inicio  {% endblock %}
    
{% block contenido %} 
<br>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h3 class="display-3">FonlunaWeb</h3>
        <p class="lead">Fondo Familia Luna y sus Núcleos Familiares – FONLUNA</p>
        <hr class="my-2">
        <br>
        <p>2023</p>
        <br>
        <p class="lead">
            <a class="btn btn-info" href="Jumbo action link" role="button">Inicio</a>
        </p>
    </div>
</div>

{% endblock %}