<form enctype="multipart/from-data" method="post">

    {% csrf_token%}

    {% for campo1 in formulario %}
    
    
        <div class="form-group">
          
    
          <label for="" class="form-label">{{ campo1.label }}</label>
    
          {% if campo1.field.widget.input_type == 'select' %}
                    {{ campo1 }}
                {% else %}
    
          <input 
          type={{ campo1.field.widget.input_type}}
          
            class="form-control" 
            name="{{ campo1.name }}" 
            id="" 
            aria-describedby="helpId" 
            placeholder="{{ campo1.label }}"
            value="{{ campo1.value | default:''}}"
            />
    
            {% endif %}
    
            
        </div> 
        <div class = "col-12 help-text"> {{campo1.errors}}</div>
    {% endfor %}
    <div class = "col-12 help-text"> {{campo1.errors}}</div>
    <input name="" id="" class="btn btn-success" type="submit" value="Enviar información">
    <a name="" id="" class="btn btn-primary" href="{% url 'Asociados'%}" role="button">Cancelar</a>
    </form>